@model IEnumerable<CustomerOrder.Context.Customer>

@{
    ViewBag.Title = "ListCustomer";
}

<h2>ListCustomer</h2>



<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivingAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutstandingAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentCode)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivingAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutstandingAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentCode)
            </td>
            <td >

                @Html.ActionLink("Book Order", "AddOrder", "Order", new { id = item.CustomerCode},null) &nbsp;
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerCode }) |&nbsp;

                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerCode },
                     new { onclick = "return confirm('Are you sure?');" })
            </td>
        </tr>
    }

</table>
